@using ExcelChartPdf.Models
@model ImageModel
@{
    ViewBag.Title = "Asp.Net MVC Charting Solution";
}
<h2>@ViewBag.Message</h2>
<ul>
    <li>@Html.ActionLink("Generate PDF using Chart from Excel", "Pdf", "Home")</li>
</ul>